<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser =
    <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
  </script>
<% end %>



<script type="text/javascript">

  window.elephantLarge = '<%= image_url('elephant.png') %>';
  window.elephantSmall = '<%= image_url('baby-elephant.png') %>';
  window.popupTail = '<%= image_url('gray_popup_arrow.png') %>';
  window.downSmall = '<%= image_url('arrows/tiny_down_pointer.png') %>'
  window.rightArrow = '<%= image_url('arrows/right_pointer.png') %>'
  window.reminder = '<%= image_url('reminder.png') %>'
  window.tagSmall = '<%= image_url('baby-tag.png') %>'
  window.notebookSmall = '<%= image_url('baby-notebook.png') %>'

</script>




<div id='root'></div>
