<!DOCTYPE html>
<html>
  <head>
    <title>Evernote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Scope+One:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Lobster|Monoton|Pacifico|Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
      integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
      crossorigin="anonymous">
    <link rel="icon" href="<%= image_url('favicon-1024.png')  %>">

    <meta charset='utf-8' />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
